<%= link_to 'New Post', new_post_path %>

<div>
	<% @posts.each do |post| %>
		<div id='post'> 
			<% if post.image %>
				<%= image_tag post.image.url(:medium) %>
			<% end %>	
			<br>
			<%= post.title%> <br>
			<br>
		</div>
	<% end %>
</div>
